{% extends 'base.html.twig' %}

{% block body %}

<div class="text-center bg-image shadow mt-1" style="background-image: url('/img/banniere.jpg');height: 50vh;min-height: 300px;border-radius: 30% 20% / 10% 40%;">
  <div class="display-5 fw-bold text-white mask p-5" style="background-color: rgba(0, 0, 0, 0.6);height: 50vh;min-height: 300px;border-radius: 30% 20% / 10% 40%;">
    <h1 class="display-3 my-5 fw-bold">Bienvenue chez MyShop!</h1>

    Les meilleurs T-shirt du marché !</div>
</div>

<section class="col-10 mx-auto">
    <div class="container my-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam repellat debitis, totam laboriosam, exercitationem repudiandae a quaerat, asperiores quasi cupiditate natus. Cum perferendis quis similique enim odit architecto voluptatibus molestiae?
    Enim eius quod qui laudantium, ullam eos sapiente, commodi facere deleniti doloremque minima omnis recusandae laboriosam sit. Magnam earum distinctio non molestias? Corrupti eligendi nesciunt cupiditate nobis aut id rem?
    </div>
</section>

<section class="row articles mb-5">
{% for produit in tabProduits %}

    <div class="card col-3 mx-auto text-center my-3 p-3 border-white">
        <h2>{{ produit.titre }}</h2>
        <div class="content">
            <img src="{{ asset('img/produits/' ~ produit.photo) }}" alt="" class="img-fluid max-width:100%;">
            <a href="{{ path('app_show', {id:produit.id}) }}" class="btn btn-outline-primary stretched-link">Détail du T-shirt</a>
        </div>
    </div>

{% endfor %}
</section>

{% endblock %}
