{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Agenceloc{% endblock %}

{% block body %}

<section class="col-8 my-5 mx-auto display-4 text-warning text-center">
<p>Bonjour, ce lien ne vous est pas accessible.</p>
<a href="{{ path('app_boutique') }}" class="btn btn-info mt-5">Retour à l'accueil</a>
</section>
{% endblock %}
